# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y compilaciones
node_modules
dist
dist-ssr
*.local

# Archivos de entorno (variables privadas)
.env
.env.local
.env.*.local

# Directorios y archivos de editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
